attrs 
beautifulsoup4
Brotli
bs4
certifi
chardet
click
click-plugins
cligj
cycler
dash
dash-core-components
dash-html-components
dash-renderer
dash-table
Fiona
Flask
Flask-Compress
future
geopandas
gunicorn
idna
importlib-metadata
itsdangerous
Jinja2
joblib
kiwisolver
levenshtein
MarkupSafe
matplotlib
munch
numpy
pandas
patsy
Pillow
pip
plotly
py4j
pyparsing
pyproj
pyspark
python-dateutil
python-dotenv
pytz
requests
retrying
scikit-learn
scipy
seaborn
setuptools
Shapely
six
sklearn
soupsieve
statsmodels
threadpoolctl
tqdm
typing-extensions
Unidecode
urllib3
Werkzeug
zipp
flask_caching