body {
  font-family: "Lato", sans-serif;
  margin: 0;
  background-color: #F7F7F7;
  min-height: 100vh;
  min-width: 100vw;
}

.header {
  background-color: rgba(231, 76, 60, 0.95);
  padding: 16px 0 0 0;
}

.header-emoji {
  font-size: 48px;
  margin: 0 auto;
  text-align: center;
}

.header-title {
  color: #FFFFFF;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
}

.header-description {
  color: #FFF;
  margin: 4px auto;
  text-align: center;
  max-width: 384px;
}

.wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 1024px;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 32px;
}

.card {
  position: relative;
  margin-bottom: 24px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}

.menu {
  height: 112px;
  width: 22em;
  display: flex;
  justify-content: space-evenly;
  padding-top: 24px;
  margin: -80px auto 0 auto;
  background-color: #FFFFFF;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}

.Select-control {
  width: 256px;
  height: 48px;
}

.Select--single > .Select-control .Select-value, .Select-placeholder {
  line-height: 48px;
}

.Select--multi .Select-value-label {
  line-height: 32px;
}

.menu-title {
  margin-bottom: 6px;
  font-weight: bold;
  color: rgba(231, 76, 60, 1);
}
.seasonal-label{
  position: absolute;
  display: inline-block;
  z-index: 100;
  right: 10%;
  top: 2.5%;
}
.seasonal-label:before {
  content: "";
  display: inline-block;
  background-color: #f1c40f;
  width: 1em;
  height: 1em;
  position: absolute;
  top: 3.5%;
  left: -30%;
  opacity: 0.2;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navBar a{
  margin-right: 1em;
  text-decoration: none;
  color: white;
  display: inline-block;
  position: relative;
}
.navBar a:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -0.3em;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navBar a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.loading {
  height: 0;
}
.reco_container{
  display: flex;
  flex-direction: column;
  margin-left: 3%;
  min-width: 25%;
}
.reco_container div{
  display: flex;
  flex-direction: column;
}
.content_reco {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top:1em;
}
.output-span {
  margin-bottom: 1em;
  white-space: pre-line;
}
.info_content {
  display: flex;
  flex-direction: column;
  box-shadow: -1px -25px 254px -58px rgba(231, 76, 60,0.26);
  border-radius: 5%;
  background-color: #ffffff;
  padding-left: 1em;
  margin-bottom: 1rem;
}
.info_content div{
  margin-top: 1em;
  display: flex;
  flex-direction: column;
}
.label_title {
  margin-bottom: 0.5em;
  display: inline-block;
  font-weight: bold;
  color:rgba(231, 76, 60, 0.95);
}
.title_container {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}
.articles_container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.reco_algo {
  display: flex;
  flex-direction: row;
  width:100%;
}
.inputs_container {
  width: 70%;
}
.infos_container {
  width: 30%;
  padding-left: 2rem;
}
.submit_button{
  background: #fff;
  border: rgba(231, 76, 60, 0.95) 1px solid;
  padding: 1em 1em 1em 1em;
  color: rgba(231, 76, 60, 1);
  font-weight: bold;
  border-radius: 5%;
  margin-bottom: 1rem;
  font-size: 1.1em;
  transition: all 0.25s ease-in;
  cursor: pointer;
}
.submit_button:hover {
  background: rgba(231, 76, 60, 1);
  color: #fff;
  font-size: 1.1em;
}